<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <fieldset>
    <legend><%= t('devise_views.registration') %></legend>
    <div>
      <%= f.text_field :name, autofocus: true, placeholder: t('devise_views.name') %>
    </div>

    <div>
      <%= f.email_field :email, placeholder: t('devise_views.email') %>
    </div>

    <div>
      <% placeholder = @validatable ? t('placeholder.password_minimum', minimum_characters: "#{@minimum_password_length}") : t('devise_views.password') %>
      <%= f.password_field :password, autocomplete: "off", placeholder: placeholder %>
    </div>

    <div>
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: t('devise_views.password_confirmation') %>
    </div>

    <div>
      <%= f.collection_select :company_id, Company.all, :id, :name, prompt: t('user.prompt_company') %>
    </div>

    <div>
      <%= f.submit t('devise_views.sign_up'), class: "button tiny radius" %> <small>รณ <%= link_to t('devise_views.login'), new_session_path(resource_name) %></small>
    </div>
  </fieldset>
<% end %>
