<h4><%= t('share.listing') %></h4>

<table>
  <thead>
    <tr>
      <th><%= Share.human_attribute_name('identifier') %></th>
      <th><%= ShareType.human_attribute_name('identifier') %></th>
      <th><%= Share.human_attribute_name('value') %></th>
      <th><%= Share.human_attribute_name('share_issue') %></th>
      <th><%= Share.human_attribute_name('share_operation') %></th>
    </tr>
  </thead>

  <tbody>
    <% @shares.each do |share| %>
      <tr>
        <td><%= share.identifier %></td>
        <td><%= share.share_type.try(:identifier) %></td>
        <td><%= share.value %></td>
        <td><%= share.share_issue.id %></td>
        <td><%= share.share_operation.try(:id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
