<h4><%= t('share.listing') %></h4>

<div ng-controller="SharesCtrl">
  <form ng-submit="doQuery()">
    <fieldset class="small-12 columns">
      <legend><%= t('share.search') %></legend>
      <div class="row">
        <div class="small-4 columns">
          <%= label_tag t('share.query.first_identifier') %>
          <input id="first_identifier" ng-model="query.first_identifier" type="text">
        </div>

        <div class="small-4 columns">
          <%= label_tag t('share.query.last_identifier') %>
          <input id="last_identifier" ng-model="query.last_identifier" type="text">
        </div>

        <div class="small-4 columns">
          <%= label_tag t('share.query.share_operation_id') %>
          <input id="share_operation_id" ng-model="query.share_operation_id" type="text">
        </div>
      </div>

      <div class="row">
        <div class="small-4 columns">
          <%= label_tag t('share.query.since') %>
          <input id="start_date" ng-model="query.start_date" type="date">
        </div>

        <div class="small-4 columns">
          <%= label_tag t('share.query.until') %>
          <input id="end_date" ng-model="query.end_date" type="date">
        </div>

        <div class="small-4 columns">
          <br/>
          <div class="actions">
            <%= submit_tag t('share.do_query'), class: "button small radius", ng_disabled: "loading" %>
            &nbsp;
            <%= image_tag "spinner.gif", ng_show: "loading", width: "30px" %>
          </div>
        </div>
      </div>

    </fieldset>
  </form>
  
  <p>&nbsp;</p>
  <div id="shares_grid" class="grid" ui-grid="gridOptions" ui-grid-selection></div>
</div>

<!--
<table>
  <thead>
    <tr>
      <th><%= Share.human_attribute_name('identifier') %></th>
      <th><%= ShareType.human_attribute_name('identifier') %></th>
      <th><%= Share.human_attribute_name('value') %></th>
      <th><%= Share.human_attribute_name('share_issue') %></th>
      <th><%= Share.human_attribute_name('share_operation') %></th>
    </tr>
  </thead>

  <tbody>
    <% @shares.each do |share| %>
      <tr>
        <td><%= share.identifier %></td>
        <td><%= share.share_type.try(:identifier) %></td>
        <td><%= share.value %></td>
        <td><%= share.share_issue.id %></td>
        <td><%= share.share_operation.try(:id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->