<%= render 'shared/queries_submenu' %>

<h4><%= t('share.listing') %></h4>

<div ng-controller="SharesCtrl">
  <form ng-submit="doQuery()">
    <fieldset class="small-12 columns">
      <legend><%= t('share.search') %></legend>
      <div class="row">
        <div class="small-4 columns">
          <%= label_tag t('share.query.first_identifier') %>
          <input id="first_identifier" ng-model="query.first_identifier" type="text">
        </div>

        <div class="small-4 columns">
          <%= label_tag t('share.query.last_identifier') %>
          <input id="last_identifier" ng-model="query.last_identifier" type="text">
        </div>

        <div class="small-4 columns">
          <%= label_tag t('share.query.share_holder') %>
          <%= select_tag(:share_holder_id, options_from_collection_for_select(ShareHolder.all, :id, :name), prompt: t('share.prompt_share_holder'), ng_model: "query.share_holder_id" ) %>
        </div>

      </div>

      <div class="row">
        <div class="small-4 columns">
          <%= label_tag t('share.query.since') %>
          <input id="start_date" ng-model="query.start_date" type="date">
        </div>

        <div class="small-4 columns end">
          <%= label_tag t('share.query.until') %>
          <input id="end_date" ng-model="query.end_date" type="date">
        </div>

        <div class="small-4 columns">
          <%= label_tag t('share.query.sold_or_not') %>
          <%= select_tag(:sold_or_not, options_for_select([[t('share.sold'), "sold"], [t('share.no_sold'), "no_sold"]]), prompt: t('share.prompt_operation'), ng_model: "query.sold_or_not" ) %>
        </div>

      </div>

      <div class="row">
        <div class="small-4 columns end">
          <br/>
          <div class="actions">
            <%= submit_tag t('share.do_query'), class: "button small radius", ng_disabled: "loading" %>
            <%= image_tag "spinner.gif", ng_show: "loading", width: "30px" %>
          </div>
        </div>
      </div>

    </fieldset>
  </form>
  
  <p>&nbsp;</p>
  <div id="shares_grid" class="grid" ui-grid="gridOptions" ui-grid-selection></div>
</div>
