<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @share.identifier %>
</p>

<p>
  <strong>Type:</strong>
  <%= @share.share_type %>
</p>

<p>
  <strong>Share operation:</strong>
  <%= @share.share_operation %>
</p>

<p>
  <strong>Share issue:</strong>
  <%= @share.share_issue %>
</p>

<%= link_to 'Edit', edit_share_path(@share) %> |
<%= link_to 'Back', shares_path %>
