
<p id="notice"><%= notice %></p>

<div class="row info-row">
  <div class="small-4 columns">
    <strong><%= ShareOperation.human_attribute_name('operation_date') %>:</strong>
  </div>
  <div class="small-5 columns end">
    <%= @share_operation.operation_date %>
  </div>
</div>

<div class="row info-row">
  <div class="small-4 columns">
    <strong><%= ShareOperation.human_attribute_name('share_holder') %>:</strong>
  </div>
  <div class="small-5 columns end">
    <%= @share_operation.share_holder %>
  </div>
</div>

<div class="row info-row">
  <div class="small-4 columns">
    <strong><%= ShareOperation.human_attribute_name('shares_assigned') %>:</strong>
  </div>
  <div class="small-5 columns end">
    <%= @share_operation.shares_assigned %>
  </div>
</div>

<div class="row info-row">
  <div class="small-4 columns">
    <strong><%= ShareOperation.human_attribute_name('cash') %>:</strong>
  </div>
  <div class="small-5 columns end">
    <%= @share_operation.cash %>
  </div>
</div>

<div class="row info-row">
  <div class="small-4 columns">
    <strong><%= ShareOperation.human_attribute_name('dividends') %>:</strong>
  </div>
  <div class="small-5 columns end">
    <%= @share_operation.dividends %>
  </div>
</div>

<div class="row info-row">
  <div class="small-4 columns">
    <strong><%= ShareOperation.human_attribute_name('adjustment') %>:</strong>
  </div>
  <div class="small-5 columns end">
    <%= @share_operation.adjustment %>
  </div>
</div>

<br/>

<!--
<div class="row">
  <div class="small-9 columns">
    <%= link_to t('edit'), edit_share_operation_path(@share_operation) %> |
    <%= link_to t('back'), share_operations_path %>
  </div>
</div>
-->
