<h4><%= t('issuance.new') %></h4>

<%= form_for @share_issue, url: issuances_path do |f| %>
  <% if @share_issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{pluralize(@share_issue.errors.count, 'error')} #{t('issuance.save_failed')}" %></h2>

      <ul>
      <% @share_issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="small-12 columns">
    <legend><%= t('issuance.information') %></legend>
    <div class="row">

      <div class="small-4 columns">
        <%= f.label :issue_date %>
        <%= f.date_field :issue_date %>
      </div>

      <div class="small-4 columns">
        <%= f.label :initial_share %>
         <%= f.number_field :initial_share, readonly: true %>
      </div>

      <div class="small-4 columns">
        <%= f.label :final_share %>
        <%= f.number_field :final_share %>
      </div>

    </div>

    <div class="row">

      <div class="small-4 columns">
        <%= f.label :share_type %>
        <%= share_type_selector f, 'issuance' %>
      </div>

      <div class="small-8 columns">
      </div>

    </div>

  </fieldset>

  <div class="actions">
    <%= f.submit class: "button small radius" %>
    <%= t('or') %>
    <%= link_to t('issuance.see_all'), issuances_path %>
  </div>
<% end %>
