<h4><%= t('issuance.new') %></h4>

<%= form_for @share_issue, url: issuances_path do |f| %>
  <fieldset class="small-12 columns">
    <legend><%= t('issuance.information') %></legend>
    <div class="row">

      <div class="small-4 columns">
        <%= f.label :issue_date %>
        <%= f.date_field :issue_date %>
      </div>

      <div class="small-4 columns">
        <%= f.label :initial_share %>
        <%= f.number_field :initial_share %>
      </div>

      <div class="small-4 columns">
        <%= f.label :final_share %>
        <%= f.number_field :final_share %>
      </div>

    </div>

    <div class="row">

      <div class="small-4 columns">
        <%= f.label :company %>
        <%= f.number_field :company_id %>
      </div>

    </div>
  </fieldset>

  <div class="actions">
    <%= f.submit class: "button small radius" %>
  </div>
<% end %>

<%= link_to t('back'), root_path %>
