<p id="notice"><%= notice %></p>

<div class="row info-row">
  <div class="small-4 columns">
    <strong><%= ShareIssue.human_attribute_name('issue_date') %>:</strong>
  </div>
  <div class="small-3 columns end">
    <%= l @share_issue.issue_date %>
  </div>
</div>

<div class="row info-row">
  <div class="small-4 columns">
    <strong><%= ShareIssue.human_attribute_name('initial_share') %>:</strong>
  </div>
  <div class="small-3 columns end">
    <%= @share_issue.initial_share %>
  </div>
</div>

<div class="row info-row">
  <div class="small-4 columns">
    <strong><%= ShareIssue.human_attribute_name('final_share') %>:</strong>
  </div>
  <div class="small-3 columns end">
    <%= @share_issue.final_share %>
  </div>
</div>

<div class="row info-row">
  <div class="small-4 columns">
    <strong><%= ShareIssue.human_attribute_name('share_type') %>:</strong>
  </div>
  <div class="small-3 columns end">
    <%= @share_issue.share_type %>
  </div>
</div>

<div class="row info-row">
  <div class="small-4 columns">
    <strong><%= ShareIssue.human_attribute_name('company') %>:</strong>
  </div>
  <div class="small-3 columns end">
    <%= @share_issue.company %>
  </div>
</div>
