<%= render 'submenu' %>

<h4><%= t('endorsement.new') %></h4>
<p><%= t('endorsement.header_info') %></p>

<%= form_for @endorsement do |f| %>
  <% if @endorsement.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{@endorsement.errors.count} #{t('error', count: @endorsement.errors.count)} #{t('endorsement.save_failed', count: @endorsement.errors.count)}" %></h2>

      <ul>
      <% @endorsement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="small-12 columns">
    <legend><%= t('endorsement.information') %></legend>
    <div class="row">

      <div class="small-4 columns">
        <%= f.label :operation_date %>
        <%= f.date_field :operation_date %>
      </div>

      <div class="small-4 columns">
        <%= f.label :source_share_holder %>
        <%= f.collection_select :source_share_holder_id, ShareHolder.all, :id, :name, prompt: t('endorsement.prompt_share_holder') %>
      </div>

      <div class="small-4 columns">
        <%= f.label :share_holder %>
        <%= f.collection_select :share_holder_id, ShareHolder.all, :id, :name, prompt: t('endorsement.prompt_share_holder') %>
      </div>

    </div>

    <div class="row">
      <div class="small-4 columns">
        <%= f.label :shares_required %>
        <%= f.number_field :shares_required %>
      </div>

      <div class="small-4 columns">
        <%= f.label t('sale.share_type') %>
        <%= share_type_selector f, 'endorsement' %>
      </div>

      <div class="small-4 columns">
        <%= f.label :receipt %>
        <%= f.text_field :receipt %>
      </div>
    </div>
  </fieldset>

  <div class="actions">
    <%= f.submit t('endorsement.do_endorsement'), class: "button small radius" %>
  </div>
<% end %>
