<h4><%= t('certificate.new') %></h4>
<p><%= t('certificate.header_info') %></p>

<%= form_for @certificate do |f| %>
  <% if @certificate.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{@certificate.errors.count} #{t('error', count: @certificate.errors.count)} #{t('certificate.save_failed', count: @certificate.errors.count)}" %></h2>

      <ul>
      <% @certificate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="small-12 columns">
    <legend><%= t('certificate.information') %></legend>
    <div class="row">

      <div class="small-4 columns end">
        <%= f.label :certificate_date %>
        <%= f.date_field :certificate_date %>
      </div>

      <div class="small-8 columns end">
        <%= f.label :shares_info %>
        <%= f.text_field :shares_info, placeholder: t('certificate.placeholder_shares_info') %>
      </div>

    </div>
  </fieldset>

  <div class="actions">
    <%= f.submit t('certificate.do_certificate'), class: "button small radius" %>
  </div>
<% end %>

