<%= wicked_pdf_image_tag 'Logo_Edesa.png' %>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= Certificate.human_attribute_name('identifier') %>:</strong>
  <%= @certificate.identifier %>
</p>

<p style='page-break-after:always;'>
  <strong><%= Certificate.human_attribute_name('shares_info') %>:</strong>
  <%= @certificate.shares_info %>
</p>

<%= wicked_pdf_image_tag 'Logo_Edesa.png' %>

<p>
  <strong><%= Certificate.human_attribute_name('share_holder') %>:</strong>
  <%= @certificate.share_holder %>
</p>

<p>
  <strong><%= Certificate.human_attribute_name('certificate_date') %>:</strong>
  <%= @certificate.certificate_date %>
</p>
