<%= render 'shared/queries_submenu' %>

<h3><%= t('earning_distribution.new') %></h3>

<%= form_for @earning_distribution, html: { onsubmit: "generate_distribution.disabled = true; generate_distribution_by_share.disabled = true; return true;" } do |f| %>
  <div class="row">
    <fieldset class="small-12 columns">
      <legend><%= t('earning_distribution.legend_indication') %></legend>
      <div class="small-4 columns">
        <%= f.label :initial_date %>
        <%= f.date_select :initial_date, { discard_day: true }, { value: @earning_distribution.initial_date, class: 'date' } %>
      </div>

      <div class="small-4 columns">
        <%= f.label :number_of_months %>
        <%= f.number_field :number_of_months, { value: @earning_distribution.number_of_months } %>
      </div>

      <div class="small-4 columns">
        <%= f.label :amount_to_distribute %>
        <%= f.text_field :amount_to_distribute, { value: @earning_distribution.amount_to_distribute, placeholder: t('earning_distribution.amount_placeholder') } %>
      </div>
    </fieldset>
  </div>

  <div class="actions">
    <%= f.hidden_field :by_shares, { value: "true", id: "by_shares" } %>
    <%= f.hidden_field :by_earnings, { value: "true", id: "by_earnings" } %>
    <%= f.submit t('do_shares_by_share_holder'), class: "button small radius", name: "generate_distribution_by_share", onclick: "by_earnings.disabled = true" %>
    <%= f.submit t('do_earning_distribution'), class: "button small radius", name: "generate_distribution", onclick: "by_shares.disabled = true" %>
  </div>
<% end %>

<% if @earning_distribution.amount_to_distribute.to_i > 0 || @earning_distribution.by_shares %>
  <hr/>
  <hr/>
  <div class="row">
    <div class="small-4 columns"><b><%= t('earning_distribution.results') %></b></div>
    <%= form_for @earning_distribution, :format => :xls, html: { onsubmit: "generate_excel.disabled = true; return true;" } do |f| %>
      <%= f.hidden_field :amount_to_distribute, { value: @earning_distribution.amount_to_distribute } %>
      <%= f.hidden_field "initial_date(1i)".to_sym, { value: @earning_distribution.initial_date.year } %>
      <%= f.hidden_field "initial_date(2i)".to_sym, { value: @earning_distribution.initial_date.month } %>
      <%= f.hidden_field :number_of_months, { value: @earning_distribution.number_of_months } %>
      <%= f.hidden_field :by_shares, { value: (@earning_distribution.by_shares ? "true" : "false") } %>  
      <%= f.hidden_field :by_earnings, { value: (@earning_distribution.by_shares ? "false" : "true") } %>  
      <div class="small-3 columns right end">
        <%= f.submit t('do_earning_distribution_as_excel'), class: "button tiny radius", name: "generate_excel" %>
      </div>
    <% end %>
  </div>

  <% if number_of_shares = @earning_distribution.matrix %>
    <table>
      <% totals = [] %>
      <% 0.upto(number_of_shares.length - 1) do |share_holder_index| %>
        <% share_holder_total = 0 %>
        <tr>
          <% 0.upto(number_of_shares[share_holder_index].length - 1) do |month_index| %>
            <td>
              <% if share_holder_index == 0 && month_index == 0 %>
                <%= t('earning_distribution.share_holder_header') %>
              <% else %>
                <% if month_index > 0 && share_holder_index > 0 %>
                  <%= as_integer(number_of_shares[share_holder_index][month_index]) %>
                  <% share_holder_total += number_of_shares[share_holder_index][month_index] %>
                  <% totals[month_index] = (totals[month_index] || 0) + number_of_shares[share_holder_index][month_index] %>
                <% else %>
                  <%= number_of_shares[share_holder_index][month_index] %>
                <% end %>
              <% end %>
            </td>
          <% end %>
          <% unless @earning_distribution.by_shares %>
            <td>
              <% if share_holder_index != 0 %>
                <%= as_integer share_holder_total %>
              <% else %>
                <%= t('earning_distribution.total') %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
      <tr>
        <td><%= t('earning_distribution.total') %></td>
        <% total_total = 0 %>
        <% 1.upto(totals.length - 1) do |total| %>
          <% total_total += totals[total] %>
          <td><%= as_integer totals[total] %></td>
        <% end %>
        <% unless @earning_distribution.by_shares %>
          <td><%= as_integer total_total %></td>
        <% end %>
      </tr>
    </table>
  <% end %>
<% end %>
