<h3><%= t('earning_distribution.new') %></h3>

<%= form_for @earning_distribution do |f| %>
  <div class="row">
    <fieldset class="small-12 columns">
      <legend><%= t('earning_distribution.legend_indication') %></legend>
      <div class="small-4 columns">
        <%= f.label :amount_to_distribute %>
        <%= f.text_field :amount_to_distribute, { value: @earning_distribution.amount_to_distribute } %>
      </div>

      <div class="small-4 columns">
        <%= f.label :initial_date %>
        <%= f.date_select :initial_date, { discard_day: true }, { value: @earning_distribution.initial_date, class: 'date' } %>
      </div>

      <div class="small-4 columns">
        <%= f.label :number_of_months %>
        <%= f.number_field :number_of_months, { value: @earning_distribution.number_of_months } %>
      </div>
    </fieldset>
  </div>

  <div class="actions">
    <%= f.submit t('do_earning_distribution'), class: "button small radius" %>
  </div>
<% end %>

<% if @earning_distribution.amount_to_distribute.to_i > 0 %>
  <p id='result_start'><b><%= t('earning_distribution.results') %></b></p>

  <% if number_of_shares = @earning_distribution.matrix %>
    <table>
    <% 0.upto(number_of_shares.length - 2) do |month| %>
      <% 0.upto(number_of_shares[month].length - 1) do |share_holder| %>

        <% if share_holder == 0 %>
          <th>
            <% if month > 0 %>
              <%= month %>
            <% end %>
          </th>
        <% else %>
          <tr>
            <% if month == 0 %>
              <%= number_of_shares[month][share_holder] %>
            <% else %>
              <%= number_of_shares[month][share_holder][1] %>
            <% end %>
          </tr>
        <% end %>
        
      <% end %>
    <% end %>
    </table>
  <% end %>
<% end %>
