<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="<%= t('earning_distribution.xls_sheet_name') %>">

  <% if @earning_distribution.amount_to_distribute.to_i > 0 || @earning_distribution.by_shares %>

    <% if number_of_shares = @earning_distribution.matrix %>
      <Table>
        <% totals = [] %>
        <% 0.upto(number_of_shares.length - 1) do |share_holder_index| %>
          <% share_holder_total = 0 %>
          <Row>
            <% 0.upto(number_of_shares[share_holder_index].length - 1) do |month_index| %>
              <Cell>
                <% if share_holder_index == 0 && month_index == 0 %>
                  <Data ss:Type="String"><%= t('earning_distribution.share_holder_header') %></Data>
                <% else %>
                  <% if month_index > 0 && share_holder_index > 0 %>
                    <Data ss:Type="Number"><%= number_of_shares[share_holder_index][month_index] %></Data>
                    <% share_holder_total += number_of_shares[share_holder_index][month_index] %>
                    <% totals[month_index] = (totals[month_index] || 0) + number_of_shares[share_holder_index][month_index] %>
                  <% else %>
                    <Data ss:Type="String"><%= number_of_shares[share_holder_index][month_index] %></Data>
                  <% end %>
                <% end %>
              </Cell>
            <% end %>
            <% unless @earning_distribution.by_shares %>
              <Cell>
                <% if share_holder_index != 0 %>
                  <Data ss:Type="Number"><%= share_holder_total %></Data>
                <% else %>
                  <Data ss:Type="String"><%= t('earning_distribution.total') %></Data>
                <% end %>
              </Cell>
            <% end %>
          </Row>
        <% end %>
        <Row>
          <Cell><Data ss:Type="String"><%= t('earning_distribution.total') %></Data></Cell>
          <% total_total = 0 %>
          <% 1.upto(totals.length - 1) do |total| %>
            <% total_total += totals[total] %>
            <Cell><Data ss:Type="Number"><%= totals[total] %></Data></Cell>
          <% end %>
          <% unless @earning_distribution.by_shares %>
            <Cell><Data ss:Type="Number"><%= total_total %></Data></Cell>
          <% end %>
        </Row>
      </Table>
    <% end %>
  <% end %>
  </Worksheet>
</Workbook>