<h3><%= t('earning_distribution.new') %></h3>

<%= form_for @earning_distribution, :format => :xls do |f| %>
  <div class="row">
    <fieldset class="small-12 columns">
      <legend><%= t('earning_distribution.legend_indication') %></legend>
      <div class="small-4 columns">
        <%= f.label :amount_to_distribute %>
        <%= f.text_field :amount_to_distribute, { value: @earning_distribution.amount_to_distribute } %>
      </div>

      <div class="small-4 columns">
        <%= f.label :initial_date %>
        <%= f.date_select :initial_date, { discard_day: true }, { value: @earning_distribution.initial_date, class: 'date' } %>
      </div>

      <div class="small-4 columns">
        <%= f.label :number_of_months %>
        <%= f.number_field :number_of_months, { value: @earning_distribution.number_of_months } %>
      </div>
    </fieldset>
  </div>

  <div class="actions">
    <%= f.submit t('do_earning_distribution'), class: "button small radius" %>
    <%= f.submit t('do_earning_distribution_as_excel'), class: "button small radius" %>
  </div>
<% end %>

<% if @earning_distribution.amount_to_distribute.to_i > 0 %>
  <p id='result_start'><b><%= t('earning_distribution.results') %></b></p>

  <% if number_of_shares = @earning_distribution.matrix %>
    <table>
      <% totals = [] %>
      <% 0.upto(number_of_shares.length - 1) do |share_holder_index| %>
        <% share_holder_total = 0 %>
        <tr>
          <% 0.upto(number_of_shares[share_holder_index].length - 1) do |month_index| %>
            <td>
              <%= number_of_shares[share_holder_index][month_index].is_a?(String) ? number_of_shares[share_holder_index][month_index] : as_integer(number_of_shares[share_holder_index][month_index]) %>
              <% share_holder_total += number_of_shares[share_holder_index][month_index].to_i %>
              <% if month_index > 0 %>
                <% totals[month_index] = (totals[month_index] || 0) + number_of_shares[share_holder_index][month_index].to_i %>
              <% end %>
            </td>
          <% end %>
          <td>
            <% if share_holder_index != 0 %>
              <%= as_integer share_holder_total %>
            <% else %>
              <%= t('earning_distribution.total') %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td><%= t('earning_distribution.total') %></td>
        <% total_total = 0 %>
        <% 1.upto(totals.length - 1) do |total| %>
          <% total_total += totals[total] %>
          <td><%= as_integer totals[total] %></td>
        <% end %>
        <td><%= as_integer total_total %></td>
      </tr>
    </table>
  <% end %>
<% end %>
