<%= render 'shared/management_submenu' %>

<h4><%= t('share_type.listing') %></h4>

<table>
  <thead>
    <tr>
      <th><%= ShareType.human_attribute_name('identifier') %></th>
      <th><%= ShareType.human_attribute_name('value') %></th>
      <% if policy(ShareType).manage? %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @share_types.each do |share_type| %>
      <tr>
        <td><%= share_type.identifier %></td>
        <td><%= share_type.value %></td>

        <% if policy(ShareType).manage? %>
          <td><%= link_to t('edit'), edit_share_type_path(share_type) %></td>
          <td><%= link_to t('destroy'), share_type, method: :delete, data: { confirm: t('are_you_sure') } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to t('share_type.new'), new_share_type_path, class: "button small radius" if policy(ShareType).manage? %>
