<dl id="references-sub-nav" class="sub-nav">
  <dt><%= t('menu.reference_entities') %>:</dt>    
  <dd <%= "class=active" if @reference == 'ShareType' %>><%= link_to t('share_type.index'), share_types_path %></dd>
  <dd <%= "class=active" if @reference == 'Location' %>><%= link_to t('location.index'), "#" %></dd>
</dl>

<h4><%= t('share_type.listing') %></h4>

<table>
  <thead>
    <tr>
      <th><%= ShareType.human_attribute_name('identifier') %></th>
      <th><%= ShareType.human_attribute_name('value') %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @share_types.each do |share_type| %>
      <tr>
        <td><%= share_type.identifier %></td>
        <td><%= share_type.value %></td>
        <td><%= link_to t('edit'), edit_share_type_path(share_type) %></td>
        <td><%= link_to t('destroy'), share_type, method: :delete, data: { confirm: t('are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to t('share_type.new'), new_share_type_path, class: "button small radius" %>
