<p id="notice"><%= notice %></p>

<p>
  <strong><%= ShareType.human_attribute_name('identifier') %>:</strong>
  <%= @share_type.identifier %>
</p>

<p>
  <strong><%= ShareType.human_attribute_name('value') %>:</strong>
  <%= @share_type.value %>
</p>

<%= link_to t('edit'), edit_share_type_path(@share_type) %> |
<%= link_to t('back'), share_types_path %>
