<h4><%= t('receipt.listing') %></h4>

<table>
  <thead>
    <tr>
      <th><%= Receipt.human_attribute_name('number') %></th>
      <th><%= Receipt.human_attribute_name('type') %></th>
      <th><%= Receipt.human_attribute_name('receipt_date') %></th>
      <th><%= Receipt.human_attribute_name('description') %></th>
      <th><%= Receipt.human_attribute_name('share_operation') %></th>
    </tr>
  </thead>

  <tbody>
    <% @receipts.each do |receipt| %>
      <tr>
        <td><%= receipt.number %></td>
        <td><%= receipt.type %></td>
        <td><%= receipt.receipt_date %></td>
        <td><%= receipt.description %></td>
        <td><%= receipt.share_operation.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
