<h4><%= t('share_holder.listing') %></h4>

<div ng-controller="ShareHoldersCtrl">
  <form ng-submit="doQuery()">
    <fieldset class="small-12 columns">
      <legend><%= t('share_holder.search') %></legend>
      <div class="row">
        <div class="small-4 columns">
          <input id="name" ng-model="query.name" type="text", placeholder="<%= t('share_holder.query.name') %>" >
        </div>

        <div class="small-4 columns end">
          <div class="actions">
            <%= submit_tag t('share_holder.do_query'), class: "button small radius", ng_disabled: "loading" %>
            &nbsp;
            <%= image_tag "spinner.gif", ng_show: "loading", width: "30px" %>
          </div>
        </div>
      </div>
    </fieldset>
  </form>

  <div class="row">
    <div class="small-8 columns">
      <%=  t('share_holder.indications_use_grid') %>
    </div>
    <div class="small-4 columns">
      <%= link_to t('share_holder.new'), new_share_holder_path, class: "button tiny radius right" %>
    </div>
  </div>

  <div id="share_holders_grid" class="grid" ui-grid="gridOptions" ui-grid-selection></div>
</div>

<!--
<h4><%= t('share_holder.listing') %></h4>

<table>
  <thead>
    <tr>
      <th><%= ShareHolder.human_attribute_name('name') %></th>
      <th><%= ShareHolder.human_attribute_name('identifier') %></th>
      <th><%= ShareHolder.human_attribute_name('contact') %></th>
      <th><%= ShareHolder.human_attribute_name('phone') %></th>
      <th><%= ShareHolder.human_attribute_name('email') %></th>
      <th><%= ShareHolder.human_attribute_name('location') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @share_holders.each do |share_holder| %>
      <tr>
        <td><%= share_holder.name %></td>
        <td><%= share_holder.identifier %></td>
        <td><%= share_holder.contact %></td>
        <td><%= share_holder.phone %></td>
        <td><%= share_holder.email %></td>
        <td><%= share_holder.location %></td>
        <td><%= link_to t('show'), share_holder %></td>
        <td><%= link_to t('edit'), edit_share_holder_path(share_holder) %></td>
        <td><%= link_to t('destroy'), share_holder, method: :delete, data: { confirm: t('are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->

<br>

<%= link_to t('share_holder.new'), new_share_holder_path, class: "button small radius" %>
