<p id="notice"><%= notice %></p>

<div class="row info-row">
  <div class="small-4 columns">
    <strong><%= ShareHolder.human_attribute_name('name') %>:</strong>
  </div>
  <div class="small-3 columns end">
    <%= @share_holder.name %>
  </div>
</div>

<div class="row info-row">
  <div class="small-4 columns">
    <strong><%= ShareHolder.human_attribute_name('identifier') %>:</strong>
  </div>
  <div class="small-3 columns end">
    <%= @share_holder.identifier %>
  </div>
</div>

<div class="row info-row">
  <div class="small-4 columns">
    <strong><%= ShareHolder.human_attribute_name('contact') %>:</strong>
  </div>
  <div class="small-3 columns end">
    <%= @share_holder.contact %>
  </div>
</div>

<div class="row info-row">
  <div class="small-4 columns">
    <strong><%= ShareHolder.human_attribute_name('phone') %>:</strong>
  </div>
  <div class="small-3 columns end">
    <%= @share_holder.phone %>
  </div>
</div>

<div class="row info-row">
  <div class="small-4 columns">
    <strong><%= ShareHolder.human_attribute_name('email') %>:</strong>
  </div>
  <div class="small-3 columns end">
    <%= @share_holder.email %>
  </div>
</div>

<div class="row info-row">
  <div class="small-4 columns">
    <strong><%= ShareHolder.human_attribute_name('location') %>:</strong>
  </div>
  <div class="small-3 columns end">
    <%= @share_holder.location %>
  </div>
</div>

<div class="row info-row">
  <div class="small-4 columns">
    <strong><%= ShareHolder.human_attribute_name('equity') %>:</strong>
  </div>
  <div class="small-3 columns end">
    <%= as_money @share_holder.equity %>
  </div>
</div>

<div class="row info-row">
  <div class="small-4 columns">
    <strong><%= ShareHolder.human_attribute_name('earnings') %>:</strong>
  </div>
  <div class="small-3 columns end">
    <%= as_money @share_holder.earnings %>
  </div>
</div>

<div class="row info-row">
  <div class="small-4 columns">
    <strong><%= ShareHolder.human_attribute_name('stock_prepaid') %>:</strong>
  </div>
  <div class="small-3 columns end">
    <%= as_money @share_holder.stock_prepaid %>
  </div>
</div>

<br/>

<strong><%= t('sale.listing') %>:</strong>

<table>
  <thead>
    <tr>
      <th><%= Sale.human_attribute_name('operation_date') %></th>
      <th><%= Sale.human_attribute_name('shares_assigned') %></th>
      <th><%= Sale.human_attribute_name('cash') %></th>
      <th><%= Sale.human_attribute_name('dividends') %></th>
      <th><%= Sale.human_attribute_name('adjustment') %></th>
      <th><%= Sale.human_attribute_name('receipt') %></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= l sale.operation_date %></td>
        <td><%= as_integer sale.shares_assigned %></td>
        <td><%= as_money sale.cash %></td>
        <td><%= as_money sale.dividends %></td>
        <td><%= as_money sale.adjustment %></td>
        <td><%= sale.receipt %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <div class="small-9 columns">
    <%= link_to t('edit'), edit_share_holder_path(@share_holder) if policy(@share_holder).edit? %>
  </div>
</div>
