<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @share_holder.name %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @share_holder.identifier %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @share_holder.contact %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @share_holder.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @share_holder.email %>
</p>

<p>
  <strong>Location:</strong>
  <%= @share_holder.location %>
</p>

<%= link_to 'Edit', edit_share_holder_path(@share_holder) %> |
<%= link_to 'Back', share_holders_path %>
