<p id="notice"><%= notice %></p>

<p>
  <strong><%= ShareHolder.human_attribute_name('name') %>:</strong>
  <%= @share_holder.name %>
</p>

<p>
  <strong><%= ShareHolder.human_attribute_name('identifier') %>:</strong>
  <%= @share_holder.identifier %>
</p>

<p>
  <strong><%= ShareHolder.human_attribute_name('contact') %>:</strong>
  <%= @share_holder.contact %>
</p>

<p>
  <strong><%= ShareHolder.human_attribute_name('phone') %>:</strong>
  <%= @share_holder.phone %>
</p>

<p>
  <strong><%= ShareHolder.human_attribute_name('email') %>:</strong>
  <%= @share_holder.email %>
</p>

<p>
  <strong><%= ShareHolder.human_attribute_name('location') %>:</strong>
  <%= @share_holder.location.try(:name) %>
</p>

<p>
  <strong><%= "Numero de Acciones" %>:</strong>
  <%= @number_of_shares_by_this_share_holder %>
</p>

<p>
  <strong><%= "Valor de las Acciones" %>:</strong>
  <%= @total_amount_owned_by_this_share_holder %>
</p>

<% unless @shares.empty? %>
  <table>
    <thead>
      <tr>
        <th><%= Share.human_attribute_name('number') %></th>
        <th><%= ShareType.human_attribute_name('name') %></th>
        <th><%= Share.human_attribute_name('share_issue') %></th>
      </tr>
    </thead>

    <tbody>
      <% @shares.each do |share| %>
        <tr>
          <td><%= share.number %></td>
          <td><%= share.share_type %></td>
          <td><%= share.share_issue.id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to t('edit'), edit_share_holder_path(@share_holder) %> |
<%= link_to t('back'), share_holders_path %>