<h4><%= t('sale.listing') %></h4>

<div ng-controller="SalesCtrl">
  <form ng-submit="doQuery()">
    <fieldset class="small-12 columns">
      <legend><%= t('sale.search') %></legend>
      <div class="row">
        <div class="small-4 columns">
          <%= label_tag t('sale.query.since') %>
          <input id="start_date" ng-model="query.start_date" type="date">
        </div>

        <div class="small-4 columns">
          <%= label_tag t('sale.query.until') %>
          <input id="end_date" ng-model="query.end_date" type="date">
        </div>

        <div class="small-4 columns">
          <%= label_tag t('sale.query.receipt') %>
          <input id="receipt" ng-model="query.receipt" type="text">
        </div>
      </div>

      <div class="row">
        <div class="small-4 columns">
          <%= select_tag(:share_holder_id, options_from_collection_for_select(ShareHolder.all, :id, :name), prompt: t('sale.prompt_share_holder'), ng_model: "query.share_holder_id" ) %>
        </div>

        <div class="small-4 columns end">
          <div class="actions">
            <%= submit_tag t('sale.do_query'), class: "button small radius" %>
          </div>
        </div>
      </div>
    </fieldset>
  </form>

  <p>Dé click en cualquier línea para ver el detalle y saldos del socio que realizó la operación:</p>
  <div id="sales_grid" class="grid" ui-grid="gridOptions" ui-grid-selection></div>
</div>

<!--
<table>
  <thead>
    <tr>
      <th><%= ShareOperation.human_attribute_name('operation_date') %></th>
      <th><%= ShareOperation.human_attribute_name('share_holder') %></th>
      <th><%= ShareOperation.human_attribute_name('shares_assigned') %></th>
      <th><%= ShareOperation.human_attribute_name('cash') %></th>
      <th><%= ShareOperation.human_attribute_name('dividends') %></th>
      <th><%= ShareOperation.human_attribute_name('adjustment') %></th>
      <th><%= ShareOperation.human_attribute_name('share_type') %></th>
    </tr>
  </thead>

  <tbody>
    <% @share_operations.each do |share_operation| %>
      <tr>
        <td><%= share_operation.operation_date %></td>
        <td><%= share_operation.share_holder %></td>
        <td><%= share_operation.shares_assigned %></td>
        <td><%= share_operation.cash %></td>
        <td><%= share_operation.dividends %></td>
        <td><%= share_operation.adjustment %></td>
        <td><%= share_operation.share_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->
