<h4><%= t('sale.new') %></h4>
<p><%= t('sale.header_info') %></p>

<%= form_for @share_operation, url: sales_path do |f| %>
  <% if @share_operation.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{pluralize(@share_operation.errors.count, 'error')} #{t('share_operation.save_failed')}" %></h2>

      <ul>
      <% @share_operation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="small-12 columns">
    <legend><%= t('sale.information') %></legend>
    <div class="row">

      <div class="small-4 columns">
        <%= f.label :operation_date %>
        <%= f.date_field :operation_date %>
      </div>

      <div class="small-4 columns">
        <%= f.label :share_holder %>
        <%= f.collection_select :share_holder_id, ShareHolder.all, :id, :name, prompt: t('sale.prompt_share_holder') %>
      </div>

      <div class="small-4 columns">
        <%= f.label :shares_required %>
        <%= f.number_field :shares_required %>
      </div>

    </div>

    <div class="row">

      <div class="small-4 columns">
        <%= f.label :cash %>
        <%= f.text_field :cash %>
      </div>

      <div class="small-4 columns">
        <%= f.label :dividends %>
        <%= f.text_field :dividends %>
      </div>

      <div class="small-4 columns">
        <%= f.label :adjustment %>
         <%= f.text_field :adjustment %>
      </div>

    </div>

    <div class="row">

      <div class="small-4 columns">
        <%= f.label t('sale.share_value') %>
        <%= text_field_tag :share_value, @share_value, readonly: true  %>
      </div>

      <div class="small-4 columns">
        <%= label_tag :receipt, t('sale.receipt') %>
        <%= text_field_tag "share_operation[receipt]" %>
      </div>

      <div class="small-4 columns">
      </div>

    </div>

  </fieldset>

  <div class="actions">
    <%= f.submit t('sale.do_sale'), class: "button small radius" %>
  </div>
<% end %>
