<dl id="locations-sub-nav" class="sub-nav">
  <dt><%= Location.model_name.human(count: :many) %>:</dt>    
  <dd <%= "class=active" if @type == 'Location' %>><%= link_to t('all.feminine'), sti_location_path('Location') %></dd>
  <dd <%= "class=active" if @type == 'Country' %>><%= link_to Country.model_name.human(count: :many), sti_location_path('Country') %></dd>
  <dd <%= "class=active" if @type == 'Province' %>><%= link_to Province.model_name.human(count: :many), sti_location_path('Province') %></dd>
  <dd <%= "class=active" if @type == 'City' %>><%= link_to City.model_name.human(count: :many), sti_location_path('City') %></dd>
  <dd <%= "class=active" if @type == 'District' %>><%= link_to District.model_name.human(count: :many), sti_location_path('District') %></dd>
  <dd <%= "class=active" if @type == 'Community' %>><%= link_to Community.model_name.human(count: :many), sti_location_path('Community') %></dd>
</dl>

<h1><%= t("#{@type.underscore}.listing") %></h1>

<table>
  <thead>
    <tr>
      <th><%= Location.human_attribute_name('name') %></th>
      <th><%= Location.human_attribute_name('type') %></th>
      <th><%= Location.human_attribute_name('parent') %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= location.type.constantize.model_name.human %></td>
        <td><%= Location.find_by_id(location.parent_id).try(:name) || "" %></td>
        <td><%= link_to t('edit'), sti_location_path(location.type, location, :edit) %></td>
        <td><%= link_to t('destroy'), sti_location_path(location.type, location), method: :delete, data: { confirm: t('are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @type != "Location" %>
  <%= link_to t("#{@type.underscore}.new"), sti_location_path(@type, nil, :new), class: "button small radius" %>
<% end %>
