<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @location.type %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @location.parent_id %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
