<!DOCTYPE html>
<html ng-app="app">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : t('system_title') %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>

<body>
 <div class="row">
    <div class="large-3 columns">
      <%= image_tag "Logo_Edesa.png" %>
      <small><%= current_user.name %> [ <%= link_to t('sign_out'), destroy_user_session_path, method: :delete %> ] </small>
    </div>

    <div class="large-9 columns">
      <ul class="inline-list right">
	      <li><%= link_to t('menu.home'), root_path %></li>
	      <li><%= link_to t('menu.about'), "#" %></li>
	      <li><a href="http://www.edesacr.com" target="_blank">EDESA</a></li>
	      <li><a href="http://www.fincacostarica.org" target="_blank">Grupo FINCA</a></li>
      </ul>
    </div>
  </div>
   
  <div class="row">       
    <div class="large-9 push-3 columns">
      <%= yield %>
    </div>
     
    <div class="large-3 pull-9 columns">    
      <ul class="side-nav">
        <% menu_issuance_path = policy(ShareIssue).manage? ? new_issuance_path : issuances_path  %>
        <li><%= link_to t('menu.sale'), new_sale_path %></a></li>
        <li><%= link_to t('menu.sales_done'), sales_path %></a></li>
        <li><%= link_to t('menu.share_holders'), share_holders_path %></li>
        <li><%= link_to t('menu.shares'), shares_path %></li>
        <li><%= link_to t('menu.certificates'), new_certificate_path %></li>
        <li><%= link_to t('menu.earning_distribution'), new_earning_distribution_path if policy(EarningDistribution).manage? %></li>
        <li><%= link_to t('menu.issuance'), menu_issuance_path %></li>
        <li><%= link_to t('menu.share_types'), share_types_path %></li>
        <li><%= link_to t('menu.locations'), locations_path %></li>
        <li><%= link_to t('menu.company'), edit_company_path(current_company) if policy(Company).manage? %></li>
        <li><%= link_to t('menu.users'), users_path if policy(User).manage? %></li>
      </ul>
 
      <p>&nbsp;</p><p>EDESA es parte del<br/><%= image_tag "Logo_grupo_finca.png" %></p>
        
    </div>
  </div>
     
  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>Sistema desarrollado por <a href="http://www.arckanto.com" target="_blank">Arckanto software</a></p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><%= link_to t('menu.home'), root_path %></li>
            <li><%= link_to t('menu.about'), "#" %></li>
            <li><a href="http://www.edesacr.com" target="_blank">EDESA</a></li>
            <li><a href="http://www.fincacostarica.org" target="_blank">Grupo FINCA</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>

  <%= javascript_include_tag 'application' %>
</body>

</html>
