<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : t('system_title') %></title>
    <%= stylesheet_link_tag    "application", media: 'all' %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body> 
    <div class="row large-3 large-centered columns">  
      <%= image_tag "Logo_Finca.png" %>
    </div>
    <div class="row large-4 large-centered columns" id="sign_in">  
      <% flash.each do |key, value| %>
        <small class="error"><%= value %></small>
      <% end %>
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
